/**********************************************/

/* General Stylings */

html {
  font-family: Verdana, sans-serif;
  margin: 0 auto 20rem auto;
  max-width: 77ch;
  background-color: #f4f4ff;
  color: #191970;
}

/**********************************************/

/* Specific Stylings */

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  text-align: right;
  border-left: 1rem solid #191970;
}

.header-text {
  max-width: 65ch;
  margin-bottom: 2.5rem;
}

.nature {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.card {
  max-width: 50ch;
  box-shadow: 10px 50px 50px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem 1rem 0 0;
  padding-bottom: 1rem;
  position: relative;
}

.star {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition-duration: 1s;
  max-width: 2.5rem;
}

.star:hover {
  transition-duration: 1s;
  transform: rotate(180deg);
}

.card-text {
  margin: 1rem;
}
